apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: oart-map-tiles-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: fast-ssd
  resources:
    requests:
      storage: 20Gi
